{% extends 'base.html' %}

{% block title %}
  <title> Списки </title>
{% endblock %}

{% block content %}
    <h1>Раздел 1</h1>
{% endblock %}

{% block main %}
    <h2>Списки</h2>

    <h3>Список задач (Неупорядоченный)</h3>
<ul>
    <li>Купить продукты</li>
    <li>Позвонить врачу</li>
    <li>Забрать вещи из химчистки
        <ul>
            <li>Проверить квитанцию</li>
            <li>Упаковать все в сумку</li>
        </ul>
    </li>
</ul>

<h3>Топ-3 любимых фильма (Упорядоченный)</h3>
<ol>
    <li>Форсаж 1</li>
    <li>Форсаж 2</li>
    <li>Форсаж 3</li>
</ol>

<h3>Состав пиццы (Смешанный)</h3>
<ul>
    <li>Тесто</li>
    <li>Соус
        <ol>
            <li>Томатный соус</li>
            <li>Сыр
                <ul>
                    <li>Моцарелла</li>
                </ul>
            </li>
        </ol>
    </li>
    <li>Колбаса</li>
</ul>

{% endblock %}