{% extends 'base.html' %}

{% block title %}
    <title>Основная задача</title>
{% endblock %}

{% block content %}
<h1>Определение лучшего ученика</h1>
{% endblock %}

{% block main %}

  <form method="post">
    {% csrf_token %}
    <style>
      .student-form p {
        display: flex;
        flex-direction: column; 
      }
      .student-form label {
        order: -1; 
        margin-bottom: 5px;
      }
    </style>
    <div class="student-form">
      {{ form.as_p }}
    </div>
    <button type="submit">Определить лучшего</button>
  </form>

  {% if best_student %}
    <h2>Лучший ученик: {{ best_student }}</h2>
  {% endif %}
{% endblock %}