{% extends 'base.html' %}

{% block title %}
  <title> Дополнительная задача </title>
{% endblock %}

{% block content %}
    <h1>Решение задачи про объёмы</h1>
{% endblock %}

{% block main %}
  <h2>Исходные данные</h2>
  <p>Ребро куба (A): {{ A }}</p>
  <p>Высота цилиндра (H): {{ H }}</p>
  <p>Радиус цилиндра (R): {{ R }}</p>
  <p>Объем жидкости (M): {{ M }}</p>

  <p>Объем куба: {{ kub_volume }}</p>
  <p>Объем цилиндра: {{ cilindr_volume }}</p>

  <p>Жидкость помещается в кубическую емкость: {{ kub }}</p>
  <p>Жидкость помещается в цилиндрическую емкость: {{ cilindr }}</p>

  <h2>Жидкость помещается {{ fits }}</h2>

{% load static %}
{% endblock %}